body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
}

.card {
  display: grid;
  place-items: start;
}
.card__title,
.card__img {
  grid-area: 1 / 1;
}
.card__img {
  max-width: 100%;
}

.card__title {
  z-index: 1;
  color: #fff;
  padding: 0.6em 1.2em;
  background-color: #333;
  margin: 0;
  font-weight: normal;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.teamItem {
  display: flex;
  flex-direction: column;
}
.team__title,
.team__ocupation {
  margin: 0.7em 0;
}

.team__ocupation {
  color: darkgray;
}

/* medias */

@media screen and (max-width: 768px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .grid1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
