body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
}

.card {
  display: grid;
  place-items: start;
}
.card__title,
.card__img {
  grid-area: 1 / 1;
}
.card__img {
  max-width: 100%;
}

.card__title {
  z-index: 1;
  color: #fff;
  padding: 0.6em 1.2em;
  background-color: #333;
  margin: 0;
  font-weight: normal;
}

.grid1 {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.teamItem {
  display: flex;
  flex-direction: column;
}
.team__title,
.team__ocupation {
  margin: 0.7em 0;
}

.team__ocupation {
  color: darkgray;
}

/* FORM */
.form {
  display: grid;
}

.form h3 {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.form p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.form__btn {
  max-width: 150px;
  margin: 1rem 0;
  padding: 0.6rem 1rem;
  padding-left: 0px;
  color: #fff;
  background-color: #000;
  border: none;
}

.form__btn:hover {
  color: #000;
  background-color: #ccc;
  border: none;
}
/* ========================== */






/* medias */

@media screen and (max-width: 768px) {
  .grid1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .grid1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
